name: Build and Test
on: [push, pull_request, workflow_dispatch]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container: node:20
    services:
      redis:
        image: redis:7.0
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Install system dependencies  
        run: |
          apt-get update
          apt-get install -y unzip

      - name: Setup bun
        uses: oven-sh/setup-bun@v2

      - name: Install project dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

      - name: Test
        env:
          REDIS_URL: redis://redis:6379
        run: bun run test